<div class="row">
    <div class="col-2">
        <app-filter-screen></app-filter-screen>
        <div class = "vertical"></div>
    </div>
    <div class="col-9" *ngIf="isLoading;else loading_Screen">
        <app-recipe-list></app-recipe-list>
    </div>

    <ng-template #loading_Screen>
        <div class="loading">
            <div class="loadingio-spinner-rolling-48129xofsqq" >
                <div class="ldio-c96rze72a4f">
                    <div></div>
                </div>
            </div>
        </div>
    </ng-template>
</div>




